include pyray/*.pyi
include raylib/*.dll
include raylib/*.dylib
include raylib/*.h
include raylib/*.pyd
include raylib/*.pyi
include raylib/*.so
include version.py
exclude raylib/*.a
exclude raylib/*.c
exclude raylib/*.o
include raylib/py.typed
include pyray/py.typed