raylib-c
examples/core/raylib
examples/models/raylib
examples/raylib
examples/shaders/__pycache__/
examples/shaders/raylib
raylib/__pycache__/
raylib/dynamic/__pycache__/
raylib/dynamic/libraylib.so.3.1.0
raylib/dynamic/libraylib.so.310
raylib/static/__pycache__/
raylib/static/_raylib_cffi.cpython-39-x86_64-linux-gnu.so
raylib/static/_raylib_cffi.o
examples/models/*.png
raylib/dynamic/libraylib.so
raylib/static/_raylib_cffi.c
!./raylib/dynamic/*
./raylib/dynamic/*
raylib/static/_raylib_cffi.c
