[submodule "raylib-c"]
	path = raylib-c
	url = https://github.com/raysan5/raylib.git
[submodule "raygui"]
	path = raygui
	url = https://github.com/raysan5/raygui.git
[submodule "physac"]
	path = physac
	url = https://github.com/raysan5/physac.git
