include raylib/*.so
include raylib/*.pyi
include pyray/*.pyi
include raylib/*.pyd
include raylib/*.dll
exclude raylib/*.a
include raylib/*.h
include raylib/*.h.modified
exclude raylib/*.c
exclude raylib/*.o
include version.py
exclude tests/*
include raylib/py.typed
include pyray/py.typed


